version: '3.7'
services:
  deploymanager_itsjeffrocom_web:
    image: itsjeff/dev-php:7.4
    container_name: deploymanager_itsjeffrocom_web
    volumes:
      - .:/var/www/html
      - ./environment/nginx/default:/etc/nginx/sites-enabled/default
    labels:
      - traefik.enable=true
      - traefik.http.routers.deploy.rule=Host(`local.deploy-manager.itsjeffro.com`)
      - traefik.http.routers.deploy.entrypoints=web
    env_file:
      - .docker.env
    networks:
      - traefik-network
      - deploy-network
    links:
      - deploymanager_itsjeffrocom_db

  deploymanager_itsjeffrocom_db:
    image: mysql:5.7
    container_name: deploymanager_itsjeffrocom_db
    command: "--default-authentication-plugin=mysql_native_password --innodb-use-native-aio=0"
    volumes:
      - ./environment/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: changeme
    ports:
      - "3306"
    networks:
      - deploy-network

networks:
  deploy-network:
    name: deploy-network
    driver: bridge
  traefik-network:
    external:
      name: traefik-network
